# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\natha\Lycee\SIO_2021_2022\MVC_Certa\SIO SI6 Architecture MVC PHP\ressources TP3\site\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
